{% if is_granted('ROLE_CONSULTANT')  %}

<footer class="">


	<section class="copyright center">
		<div class="row">
			<div class="col-12 ">
				<p class="text-center copyright">Copyright @ 2023 All rights reserved by :
					<a href="mailto:giacomettivirginie@gmail.com" title="Cliquez pour m'envoyer un email" alt="Cliquez pour m'envoyer un email">
						<strong>Virginie Giacometti</strong>
					</a>
				</p>
			</div>
		</div>
	</section>
</footer>
{% else %}
<footer class="container">
	<section class=" boxFooterBlack  ">

		<div class="row">
			<div class="col-12">
				<h4 class="">Contactez-nous<em>!</em>
				</h4>
				<div class="footerContact">
					<div class="address">


						<p>
							<a href="{{ path('contact')}}" title="Lien vers la page Contact - Cliquez pour accéder au formulaire" alt="Lien vers la page Contact - Cliquez pour accéder au formulaire"></a>
						</p>

						<p>
							<a href="tel:06 00 00 00 00" title="Contact téléphonique - Cliquez pour appeler">><i class="fa fa-phone "></i>0600000000</a>
						</p>

						<p>
							<a class="" href="mailto:trtconseil@exemple.fr" title="Cliquez pour nous contacter par mail" alt="Cliquez pour nous contacter par mail">
								<i class=" fa-solid fa-envelope"></i>trtconseil@exemple.fr
							</a>
						</p>


						<a href="https://fr-fr.facebook.com/" target="_blank" style="font-size: 25px;" title=" Lien vers Facebook">
							<i class="fa-brands fa-facebook"></i>
						</a>

						<a href="https://www.instagram.com/" target="_blank" title="Lien vers Instragram" style="font-size: 25px; ">
							<i class="fa-brands fa-instagram"></i>
						</a>

						<a href="https://fr.linkedin.com/" target="_blank" title="Lien vers Linkedin" style="font-size: 25px;">
							<i class="fa-brands reseau fa-linkedin"></i>
						</a>

					</div>


					<div class=" footerLogo ">
						<img class="img-fluid logo rounded " src="" srcset="" alt="Logo de TRT Conseil" title="Logo de TRT Conseil">
					</div>


					<div class="footerMenu">
						<ul>
							<li><ahref="{{ path('home')}}">Accueil</a></li>
							<li><ahref="{{ path('recruiter')}}">Entreprises</a></li>
							<li><ahref="{{ path('candidate')}}">Candidats</a></li>
							<li><ahref="{{ path('contact')}}">Contact</a></li>
						</ul>
					</div>
				</div>

			</div>
		</div>
	</section>

	<hr class="separator__footer">

	<section class="copyright">
		<div class="row">
			<div class="col-12 ">
				<p class="text-center copyright">Copyright @ 2023 All rights reserved by :
					<a href="mailto:giacomettivirginie@gmail.com" title="Cliquez pour m'envoyer un email" alt="Cliquez pour m'envoyer un email">
						<strong>Virginie Giacometti</strong>
					</a>
				</p>
			</div>
		</div>
	</section>

</footer>


{% endif %}



