<header>
	<nav class="navbar navbar-expand-md navbar-dark bg-dark">
		<div class="container-fluid">
			<a class="navbar-brand" href="#">TRT Conseil</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="{{ path('home') }}" alt="Retour vers Accueil" title="Retour vers Accueil">Accueil</a>
					</li>
					<li class="nav-item">
						<a class="nav-link "  href="{{ path('jobOffer') }}" alt="Liste d'offres d'emploi" title="Liste d'offres d'emploi">Offres d'emploi</a>
					</li>
					<li class="nav-item">
						<a class="nav-link "  href="{{ path('candidacy') }}" alt="Liste des candidats" title="Liste des candidats">Candidatures</a>
					</li>
					<li class="nav-item ">
						<a class="nav-link" href="{{ path('contact') }}" alt="Formulaire de contact" title="Formulaire de contact">Contact</a>
					</li>
				</ul>
				<ul class="navbar-nav ms-auto mb-2 mb-lg-0">

				{% if app.user %}
					{{ app.user.Active ? '
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle active" href="#" aria-current="page" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Mon Compte</a>
					': ''}}
						<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							{% if is_granted('ROLE_RECRUITER') %}

								<li>
									<a class="dropdown-item" href="{{ path('recruiter')}}" alt="Accéder aux annonces" title="Accéder aux annonces">Mon Espace</a>
								</li>
								<li>
									<a class="dropdown-item" href="{{ path('jobOffers')}}" alt="Accéder aux annonces" title="Accéder aux annonces">Mes Annonces</a>
								</li>
								{# <li>
									<a class="dropdown-item" alt="Accéder à votre profil" title="Accéder à votre profil" href="{{ path('profilR')}}">Mon Profil</a>
								</li> #}

								<li>
									<a class="dropdown-item" href="{{ path('post')}}" alt="Accéder aux annonces" title="Accéder aux annonces">Poster une annonce</a>
								</li>


							{% elseif is_granted('ROLE_CANDIDATE') %}
								<li>
									<a class="dropdown-item" alt="Accéder à votre profil" title="Accéder à votre profil" href="{{ path('candidate')}}">Mon Espace</a>
								</li>
								<li>
									<a class="dropdown-item" alt="Accéder à votre profil" title="Accéder à votre profil" href="{{ path('profilC')}}">Mon Profil</a>
								</li>

								<li>
									<a class="dropdown-item" href="#" alt="Postuler à une annonce" title="Postuler à une annonce">Mes Annonces</a>
								</li>
							{% endif %}

							<li>
								<a class="dropdown-item" href="{{ path('app_logout') }}" alt="Me déconnecter" title="Me déconnecter">Me Déconnecter</a>
							</li>
						</ul>
					</li>


				{% else %}
					<li class="nav-item">
						<a class="nav-link" href="{{ path('app_register') }}" alt="Lien pour créer un compte" title="Lien pour créer un compte">M'inscrire</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('app_login') }}" alt="Vous connectez" title="Vous connectez">Me connecter</a>
					</li>
				{% endif %}
				</ul>



			</div>
		</div>
	</nav>
</header>


