{% extends 'base.html.twig' %}

{% block title %}Accueil | {{parent()}}{% endblock %}

    
{% block body %}
	{{ parent() }}

<body class="home">
    <main class="container mt-3">
        <div class="btnCreate">
{% if app.user %}

    <p>
    {{ app.user.Active ? 'active': 'inactive'}}
    {{ app.user.email}}
    {{ app.user.id}}

    
    
    </p>



    {# {% else %}
            <a href="{{ path('app_register') }}" class="text-primary" alt="M'inscrire" title="M'inscrire" type="submit">M'inscrire</a>

            <a href="#" class="text-primary" alt="Me Connecter à votre espace" title="Me Connecter à votre espace" type="submit">Me Connecter</a > #}
{% endif %}

        </div>

        <section class="box_home center">

            <h2 class="center"><u>{{ titlebox1 }}</u></h2>
            <p>Une agence de recrutement spécialisée dans l'hottellerie et restauration. Fondée en 2014, la société s'est agrandie au fil des ans et possède dorénavant plus de 12 centres dispersés aux quatre coins de la France.</p>
            <p>Nous sommes là pour vous aider dans vos recherches.</p>

        </section>

        <section class="box_home">

            <h2 class="center"><u>{{ titlebox2 }}</u></h2>
            <p>Plusieurs choix sont à votre disposition :</p>
            <ul >

                <li>- En agence, sur Rendez-vous, avec un de nos conseillers.
                    <ul>
                        <li> 
                            <i class="fa fa-phone "></i>
                            <a href="tel:06 00 00 00 00" title="Contact téléphonique - Cliquez pour appeler" alt="Contact téléphonique - Cliquez pour appeler"><strong>06 00 00 00 00</strong></a>
                        </li>
                        <li>
                            <i class=" fa-solid fa-envelope"></i>
                            <a href="mailto:exemple@exemple.fr" title="Contact par Email - Cliquez pour envoyer un Email" alt="Contact par Email - Cliquez pour envoyer un Email"><strong>TRTConseil</strong></a>
                        </li>
                    </ul>
                </li>

                <li>- En créant un compte sur notre site
                    <ul>
                        <li class="center">Une fois votre compte créé et validé par un consultant,</li>
                        <li class="center">Vous pouvez mettre votre profil mis à jour </li>
                        <li class="center">Et déposer une offre d'emploi ou postuler à une annonce
                        </li>
<li class="text-end">

<a href="{{ path('app_register') }}" class="linkBox" alt="M'inscrire" title="M'inscrire" type="submit">
	M'inscrire
</a>

</li>

                    </ul>   
                </li>
            </ul>

        </section>


            
{# <pre>
    {{ dump(countJobOffer) }}
{{ dump(countApply) }}

</pre> #}
{# {{  countApply }} #}

{# {% for countApply in countApplies %}
{% for countJobOffer in countJobOffers %}
    
            <p>Actuellement, nous avons {{ countJobOffer }} d'offres d'emploi et {{  countApply }} candidats.</p>
{% endfor %}
    
{% endfor %} #}
  


    </main>
</body>
{% endblock %}

