{% extends 'base.html.twig' %}

{% block title %}Accueil | {{parent()}}{% endblock %}

    
{% block body %}
	{{ parent() }}

<body class="home">
    <main class="container mt-3">
        <div class="btnCreate">
{% if app.user %}

    <p>
    {{ app.user.Active ? 'active': 'inactive'}}
    {{ app.user.email}}
    {{ app.user.id}}

    
    
    </p>



    {% else %}
            <a href="{{ path('app_register') }}" class="text-primary" alt="M'inscrire" title="M'inscrire" type="submit">M'inscrire</a>

            <a href="#" class="text-primary" alt="Me Connecter à votre espace" title="Me Connecter à votre espace" type="submit">Me Connecter</a >
{% endif %}

        </div>

        <section>

            <h2 class="center">{{ titlepage }}</h2>

        </section>

        <section class="box_home center">

            <p>TRT Conseil est une agence de recrutement spécialisée dans l'hottellerie et restauration. Fondée en 2014, la société s'est agrandie au fil des ans et possède dorénavant plus de 12 centres dispersés aux quatre coins de la France.</p>
            <p>Nous sommes là pour vous aider dans vos recherches.</p>

        </section>

        <section class="box_home">

            <p>Plusieurs choix sont à votre disposition :</p>
            <ul>
                <li>En agence, sur Rendez-vous, avec un de nos conseillers.</li>
                <li>En créant un compte sur notre site</li>
            <p> Une fois que vous avez créé votre compte et qu'il a été validé, vous pouvez mettre votre profil mis à jour pour déposer une offre d'emploi ou postuler à une annonce.</p>
            </ul>
            {# <hr class="separator"> #}

        </section>

        <section class="box_home">
        </section>

            
{# <pre>
    {{ dump(countJobOffer) }}
{{ dump(countApply) }}

</pre> #}
{# {{  countApply }} #}

{# {% for countApply in countApplies %}
{% for countJobOffer in countJobOffers %}
    
            <p>Actuellement, nous avons {{ countJobOffer }} d'offres d'emploi et {{  countApply }} candidats.</p>
{% endfor %}
    
{% endfor %} #}
  


    </main>
</body>
{% endblock %}

