{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
{{ parent() }}
<body class="register">

    

    <section class="container">
        <div class="row">
            <div class="col">
                <h1>Inscription</h1>


            {{ form_start(registrationForm) }}

                <fieldset class="mb-3 legend">
                    <legend class="center">Créé votre Compte de connexion</legend>
                    <div>
                        {{ form_row(registrationForm.roles,{'label':'Vous êtes un : ',}) }}
                    </div>

                    <div>
                        {{ form_row(registrationForm.email, {'label':'E-mail','attr': {'placeholder':'exemple@exemple.fr'}}) }}
                    </div>

                    <div>
                        {{ form_row(registrationForm.password, {
                                label: 'Mot de passe'
                            }) }}
                    </div>

                    <div>
                        {{ form_row(registrationForm.rgpdConsent, {
                                label: 'En m\'inscrivant sur ce site, j\'accepte ...'
                            }) }}
                    </div>
                    
                

                <button type="submit" class="btn btn-sm btn-info my-3">M'inscrire</button>
                {{ form_end(registrationForm) }}
                
                </fieldset>
            </div>
        </div>
    </section>

</body>


{% endblock %}
