{% extends 'base.html.twig' %}

{% block title %}Consultant |
	{{ parent() }}
{% endblock %}

{% block body %}
	{{ parent() }}
<body class="consultant">
{% if app.user %}
	<div class="d-flex justify-content-end align-item-center px-2">
		<p class="connected" alt="Vous êtes connecté en tant que {{ app.user.email }}" title="Vous êtes connecté en tant que {{ app.user.email }}">
			<i class="fas fa-user-circle"></i>
			{{ app.user.email}}
		</p>
	</div>

	<section class="breadcrumb">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a class="breadcrumb-link" href=" {{ path('consultant') }} ">Accueil</a>
				</li>
				<li class="breadcrumb-item active " aria-current="page" >Compte à Valider
				</li>
				<li class="breadcrumb-item">
					<a class="breadcrumb-link" href=" {{ path('valid_apply') }} ">Candidature à Valider</a>
				</li>
				<li class="breadcrumb-item">
					<a class="breadcrumb-link" href=" {{ path('valid_jobOffer') }} ">Annonce à Valider</a>
				</li>
				
			</ol>
		</nav>
	</section>

	<main class="container ">

	{% if accounts %} 
		<h2 class="center m-3">Comptes à valider</h2>
		{% for account in accounts %}
		<section class="account border border-dark p-3">
			<div class="row">
				<div class="col-12 accountUser">
					<div>
						<p>{{ account.email }}</p>
					</div>
					<div>
						<p>{{ account.roles[0] | lower }}</p>	
					</div>
					<div>
						<a href="{{ path('active_user', { id : account.id }) }}" type="button" class="btn btnValidate btn-sm " title="Valider un compte de connexion" alt="Valider un compte de connexion">Valider</a>
					</div>
				</div>
			</div>
		</section>
		{% endfor %}
	{% else %}
		<div class="alert alert-success" role="alert">
			<div class="alert-message text-center">
				<h4>Aucun Comptes à valider</h4>
			</div>
		</div>
	{% endif %}
{% else %}
	<div class="container alert alert-danger mt-5" role="alert">
		<div class="alert-message text-center">
			<h4 class="text-dark">Vous devez être connecté</h4>
			<a class="text-primary" title="Lien pour se connecter" alt="Lien pour se connecter" href=" {{ path('app_login') }} ">Connectez-vous</a>
		</div>
	</div>
{% endif %}
	</main>
</body>
{% endblock %}

