{% extends 'base.html.twig' %}

{% block title %}Consultant | {{ parent() }}{% endblock %}

{% block body %}
	{{ parent() }}


    <main class="container">
        <h2>{{ titlepage }}!</h2>

        <h3>Vous pouvez validez : </h3>

        <ul>
<a href="{{ path('valid_account') }}">

<li>Des comptes de connexion</li></a>


                
            </li>

            <li>Des recruteurs/entreprises</li>
            <li>Des candidatures</li>
            <li>Des Offres d'emploi</li>
        </ul>
{# <a href="{{ path('app_consultant_accounts') }}">des comptes utilisateur</a>
<span class="bubble bubble-blue">{{
                    accounts|length }}</span> #}

    
    </main>
{% endblock %}
