{% extends 'base.html.twig' %}

{% block title %}Consultant | {{ parent() }}{% endblock %}

{% block body %}
	{{ parent() }}


    <main class="container">
        <h2>{{ titlepage }}!</h2>

        <h3>Vous pouvez validez : </h3>

        <ul>
            <li>
                <a href="{{ path('valid_account') }}">Des comptes de connexion</a>
            </li>
            <li>Des candidatures</li>
            <li>
                <a href="{{ path('valid_jobOffer') }}">Des Offres d'emploi</li>
            </li>

        </ul>
{# <a href="{{ path('app_consultant_accounts') }}">des comptes utilisateur</a>
<span class="bubble bubble-blue">{{
                    accounts|length }}</span> #}

    
    </main>
{% endblock %}
