{% extends 'base.html.twig' %}

{% block title %}Consultant |
	{{ parent() }}
{% endblock %}

{% block body %}
	{{ parent() }}
<body class="consultant">
{% if app.user %}
	<div class="d-flex justify-content-end align-item-center px-2">
		<p class="connected" alt="Vous êtes connecté en tant que {{ app.user.email }}" title="Vous êtes connecté en tant que {{ app.user.email }}">
			<i class="fas fa-user-circle"></i>
			{{ app.user.email}}
		</p>
	</div>

	<section class="breadcrumb">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a class="breadcrumb-link" href=" {{ path('consultant') }} ">Accueil</a>
				</li>
				<li class="breadcrumb-item"><a class="breadcrumb-link" href=" {{ path('valid_account') }} ">Compte à Valider</a>
				</li>
				<li class="breadcrumb-item">
					<a class="breadcrumb-link" href=" {{ path('valid_apply') }} ">Candidature à Valider</a>
				</li>
				<li class="breadcrumb-item  active " aria-current="page">
					Offre à Valider
				</li>
			</ol>
		</nav>
	</section>

	<main class="container">
	{% if jobOffers %}
		<div class="jobOffers">
			<h2 class="mb-4 center">{{titlepage}}</h2>
			<div class="d-flex justify-content-center flex-wrap container ">

				{% for jobOffer in jobOffers %}
			
				<div class="card bg-dark" style="width: 18rem;">
					<div class="card-header">
						<h5 class="card-title center">{{ jobOffer.recruiter.nameCompany }}</h5>
					</div>
					<div class="card-body">
						<h6 class="card-subtitle mb-2 text-muted">Lieu : {{ jobOffer.recruiter.city }}</h6>
						<h6 class="card-subtitle mb-2 text-muted">Créé le : {{jobOffer.createdAt | date('d/m/y')}}</h6>
						<h6 class="card-subtitle text-muted mb-2 ">Recherche : </h6> 
						<p class="center">{{jobOffer.title}}</p>
						<p class="card-text">{{ jobOffer.content }}</p>
					</div>

					<div class="card-footer d-flex justify-content-around">
						<a href="{{ path('active_joboffer', { id : jobOffer.id }) }}" type="button" class="btn btn-primary btn-sm mx-auto" title="Valider l'annonce" alt="Valider l'annonce">VALIDER</a>
					</div>
				</div>

				{% endfor %}
			</div>
		</div>
				

	{% else %}
		<div class="alert alert-success" role="alert">
			<div class="alert-message text-center">
				<h4>Aucune Offres d'emploi à valider</h4>
			</div>
		</div>
	{% endif %}
	
{% else %}
	<div class="container alert alert-danger mt-5" role="alert">
		<div class="alert-message text-center">
			<h4 class="text-dark">Vous devez être connecté</h4>
			<a class="text-primary" title="Lien pour se connecter" alt="Lien pour se connecter" href=" {{ path('app_login') }} ">Connectez-vous</a>
		</div>
	</div>
{% endif %}

	</main>
</body>

{% endblock %}





