{% extends 'base.html.twig' %}

{% block title %}Consultant |
	{{ parent() }}
{% endblock %}

{% block body %}
	{{ parent() }}
<body class="consultant">
{% if app.user %}
	<div class="d-flex justify-content-end align-item-center px-2">
		<p class="connected" alt="Vous êtes connecté en tant que {{ app.user.email }}" title="Vous êtes connecté en tant que {{ app.user.email }}">
			<i class="fas fa-user-circle"></i>
			{{ app.user.email}}
		</p>
	</div>

	<section class="breadcrumb">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a class="breadcrumb-link" href=" {{ path('consultant') }} ">Accueil</a>
				</li>
				<li class="breadcrumb-item"><a class="breadcrumb-link" href=" {{ path('valid_account') }} ">Compte à Valider</a>
				</li>
				<li class="breadcrumb-item">
					<a class="breadcrumb-link" href=" {{ path('valid_apply') }} ">Candidature à Valider</a>
				</li>
				<li class="breadcrumb-item  active " aria-current="page">
					Offre à Valider
				</li>
			</ol>
		</nav>
	</section>

	<main class="container">
	{% if jobOffers %}
		<div class="jobOffers">
			<h2>Annonce à valider</h2>
<div class="table-responsive">

<table class="table">
	<thead>
		<tr>
			<th scope="col">Date</th>
			<th scope="col">Nom</th>
			<th scope="col">Intitulé</th>
			<th scope="col">Description</th>
			<th scope="col"></th>
		</tr>
	</thead>
			{% for jobOffer in jobOffers %}
			{# <pre>
				{{ dump(jobOffer) }}
			</pre> #}
	<tbody>
		<tr>
			<th scope="row">{{jobOffer.createdAt | date('d/m/y')}}</th>
			<td>{{ jobOffer.recruiter.nameCompany }}</td>
			<td>{{ jobOffer.title }}</td>
			{# <td>



			
			</td> #}
			{# <td>
			{{ jobOffer.content }}
			</td> #}
			<td>
				<button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Détail
				</button>
				<div class="collapse" id="collapseExample">
					<div class="card card-body">
						{{ jobOffer.content }}
					</div>
				</div>

			
			</td>
			<td>

	<button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
		Détail
	</button>

<div style="min-height: 120px;">
	<div class="collapse collapse-horizontal" id="collapseWidthExample">
		<div class="card card-body" style="width: 300px;">
			This is some placeholder content for a horizontal collapse. It's hidden by default and shown when triggered.
		</div>
	</div>
</div>


			</td>



			<td>
				<a href="{{ path('active_joboffer', { id : jobOffer.id }) }}" type="button" class="btn btn-primary btn-sm">VALIDER</a>
			</td>




		</tr>
		
	</tbody>
			{% endfor %}
</table>
</div>
				{# <div class="jobOffer row">
					<div class="col-8 text-center">
						{{ jobOffer.title }}
						<pre>
{{ dump(jobOffer) }}
{{ dump(jobOffer.createdAt) }}
						</pre>
					</div> #}

					{# <div
						class="col-4">
						<a href="{{ path('active_joboffer', { id : jobOffer.id }) }}" type="button" class="btn btn-primary btn-sm">VALIDER</a>
					</div> #}
				</div>
		</div>
{# {% else %}
<tr>
	<td colspan="5">Pas d'annonces à valider'.</td>
</tr>{% endfor %} #}

	{% else %}
		<div class="alert alert-success" role="alert">
			<div class="alert-message text-center">
				<h4>Aucune Offres d'emploi à valider</h4>
			</div>
		</div>

	{% endif %}
{% else %}
	<div class="container alert alert-danger mt-5" role="alert">
		<div class="alert-message text-center">
			<h4 class="text-dark">Vous devez être connecté</h4>
			<a class="text-primary" title="Lien pour se connecter" alt="Lien pour se connecter" href=" {{ path('app_login') }} ">Connectez-vous</a>
		</div>
	</div>
{% endif %}

	</main>
</body>

{% endblock %}





