{% extends 'base.html.twig' %}

{% block title %}Consultant |
	{{ parent() }}
{% endblock %}

{% block body %}
	{{ parent() }}

	<main class="container">
	{% if jobOffers %}
		<div class="jobOffers">
			<h1>Offre d'emploi à valider</h1>

			{% for jobOffer in jobOffers %}
				<div class="jobOffer row">
					<div class="col-8 text-center">
						{{ jobOffer.title }}
						<pre>
{{ dump(jobOffer) }}
						</pre>
					</div>
					<div
						class="col-4">
						<a href="{{ path('active_joboffer', { id : jobOffer.id }) }}" type="button" class="btn btn-primary btn-sm">VALIDER</a>
					</div>
				</div>
			{% endfor %}
		</div>
	{% else %}
		<div class="alert alert-success" role="alert">
			<div class="alert-message text-center">
				<h1>Aucune Offres d'emploi à valider</h1>
			</div>
		</div>

	{% endif %}
	</main>
{% endblock %}

