{% extends 'base.html.twig' %}

{% block title %}Recruteur | {{ parent() }}!{% endblock %}

{% block body %}
	{{ parent() }}
<body class="compte">
    <main class="container">
    
        <section>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page" alt="Page active" title="Page active">Mon Profil
                    </li>
                    <li class="breadcrumb-item">
                        <a class="" href="{{ path('jobOffers')}}" alt="Accéder à mes annonces" title="Accéder à mes annonces">Mes Annonces</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="" href="{{ path('post')}}" alt="Poster une annonces" title="Poster une annonces">Poster une annonce</a>
                    </li>

                </ol>
            </nav>


            {# <a class="activePage" aria-current="page" alt="Accéder à votre profil" title="Accéder à votre profil" href="{{ path('profilR')}}">Mon Profil</a>
            <a class="" href="{{ path('jobOffers')}}" alt="Accéder aux annonces" title="Accéder aux annonces">Mes Annonces</a>
            <a class="" href="{{ path('post')}}" alt="Accéder aux annonces" title="Accéder aux annonces">Poster une annonce</a> #}
        </section>

        <h2>{{ titlepage }}</h2>

        <section class="espace">

            <div class="row">
                <div class="col-12">

            {% include "recruiter/_recruiter.html.twig" %}

                </div>
            </div>
        </section>

        <section class="espace">

            <div class="row">
                <div class="col-12">
                    {# {% include "_joboffer.html.twig" %} #}
                </div>
            </div>
        </section>



    </main>
</body>
{% endblock %}
