{% extends 'base.html.twig' %}

{% block title %}Recruteur | {{ parent() }}!{% endblock %}

{% block body %}
	{{ parent() }}
<body class="compte">
    <main class="container">
    
        <div class=" d-flex justify-content-center  ">
            <nav class=" shadow-5-strong ">
                <a class="underline pe-2" aria-current="page" alt="Page active" title="Page active" href="#">Mon Espace 
                </a>			
                <a class="pe-2" href="{{ path('jobOffers')}}" alt="Accéder à mes annonces" title="Accéder à mes annonces">Mes Annonces 
                </a>
                <a class="" href="{{ path('post')}}" alt="Poster une annonces" title="Poster une annonces">Poster une annonce </a>
            </nav>
        </div>
        
        <h2 class="center my-5 blue">{{ titlepage }}</h2>

        <section class="espace ">
 
            <div class="row">
                <div class="col-12 ">

            {% include "recruiter/_recruiter.html.twig" %}

                </div>
            </div>
        </section>

        <h2 class="center my-5 blue">Mes Annonces</h2>
{% if joboffers and candidatures %}
        <section class="espace bg-white rounded">
            <div class="row">
                <div class="col-12">

                {% include "recruiter/_showJobOffer.html.twig" %} 
<h3 class="center mt-5">Candidatures:</h3>


                {% include "recruiter/_showCandidacy.html.twig" %}

                </div>
            </div>
        </section>
{% endif %}


    </main>
</body>
{% endblock %}
