{% extends 'base.html.twig' %}

{% block title %}Recruteur | {{ parent() }}!{% endblock %}

{% block body %}
	{{ parent() }}
<body class="compte">
    <main class="container">
    
        <section>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page" alt="Page active" title="Page active">Mon Profil
                    </li>
                    <li class="breadcrumb-item">
                        <a class="" href="{{ path('jobOffers')}}" alt="Accéder à mes annonces" title="Accéder à mes annonces">Mes Annonces</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="" href="{{ path('post')}}" alt="Poster une annonces" title="Poster une annonces">Poster une annonce</a>
                    </li>

                </ol>
            </nav>


            {# <a class="activePage" aria-current="page" alt="Accéder à votre profil" title="Accéder à votre profil" href="{{ path('profilR')}}">Mon Profil</a>
            <a class="" href="{{ path('jobOffers')}}" alt="Accéder aux annonces" title="Accéder aux annonces">Mes Annonces</a>
            <a class="" href="{{ path('post')}}" alt="Accéder aux annonces" title="Accéder aux annonces">Poster une annonce</a> #}
        </section>

        <h2>{{ titlepage }}</h2>

        <pre>
            {{ dump(user) }}
        </pre>
        <section class="espace">

            <div class="row">
                <div class="col-12">

            {# {% if recruiters %} #}
            {% for recruiter in recruiters %}
                <div class="card text-white bg-dark" style="max-width: 18rem;">

                    <h5 class="card-header center">
                        {{ recruiter.nameCompany }}</h5>
                    <div class="card-body">
                        <h5 class="card-title">{{ recruiter.address }}</h5>
                        <p class="card-text">
                            {{ recruiter.zipcode }},
                            {{ recruiter.city }}</p>
                    </div>
                    <div class="text-end m-4">
                        <a href="{{ path('editR',{'id': recruiter.id })}}" class="btn btn-sm btn-warning ">Modifier</a>
                    </div>

                </div>
            {% endfor %}
            {# {% else %}
                        <a href="{{ path('profilR')}}" class="btn btn-sm btn-primary ">Modifier</a>
                    {% endif %} #}

            {# {{ user.recruiters.nameCompany }} #}
                </div>
            </div>
        </section>

        

        
    </main>
</body>
{% endblock %}
