{% extends 'base.html.twig' %}

{% block title %}Recruteur | {{ parent() }}!{% endblock %}

{% block body %}
	{{ parent() }}
<body class="compte">
    <main class="container">
    
        <div class=" d-flex justify-content-center  ">
            <nav class=" shadow-5-strong ">
                <a class="underline pe-2" aria-current="page" alt="Page active" title="Page active" href="#">Mon Espace 
                </a>			
                <a class="pe-2" href="{{ path('jobOffers')}}" alt="Accéder à mes annonces" title="Accéder à mes annonces">Mes Annonces 
                </a>
                <a class="" href="{{ path('post')}}" alt="Poster une annonces" title="Poster une annonces">Poster une annonce </a>
            </nav>
        </div>
        
        <h2 class="center my-5 txtShadow">{{ titlepage }}</h2>

        <section class="espace">

            <div class="row">
                <div class="col-12 ">

            {% include "recruiter/_recruiter.html.twig" %}

                </div>
            </div>
        </section>

{% if joboffers and candidatures %}
        <h2 class="center my-3 txtShadow">Mes Annonces</h2>
        <section class="espace">
            <div class="row">
                <div class="col-12">

                {% include "recruiter/_showJobOffer.html.twig" %} 
                {% include "recruiter/_showCandidacy.html.twig" %}

                </div>
            </div>
        </section>
{% endif %}


    </main>
</body>
{% endblock %}
