{% extends 'base.html.twig' %}

{% block title %}Recruteur |
	{{ parent() }}!
{% endblock %}

{% block body %}
	{{ parent() }}
	<body class="compte">
		<main class="container">
{% for recruiter in recruiters %}
			<section>
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb">
                        <li class="breadcrumb-item active" aria-current="page" alt="Page active" title="Page active">Mes Annonces</li>
                        <li class="breadcrumb-item">
                            <a class="" href="{{ path('recruiter',{'id': recruiter.id })}}" alt="Accéder à mes annonces" title="Accéder à mes annonces">Mon espace</a>
                        </li>
						<li class="breadcrumb-item">
							<a class="" href="{{ path('post')}}" alt="Poster une annonces" title="Poster une annonces">Poster une annonce</a>
						</li>
					</ol>
				</nav>
			</section>

<h3>Mes annonces</h3>
<section>
<div class="row">
	<div class="col-12">

{% include "recruiter/_showJobOffer.html.twig" %}
</div>
</div>
</section>



{% else %}
<div class="container alert alert-danger mt-5" role="alert">
	<div class="alert-message text-center">
		<h4 class="text-dark">Vous devez mettre vous profil à jour pour accéder à cette page</h4>
		<a class="text-primary" title="Lien pour se connecter" alt="Lien pour se connecter" href=" {{ path('profilR') }} ">Complétez votre profil</a>
	</div>
</div>{% endfor %}

			{# <h2>{{ titlepage }}</h2> #}

			

		</main>
	</body>
{% endblock %}

