{% extends 'base.html.twig' %}

{% block title %}Accueil |
	{{parent()}}
{% endblock %}


{% block body %}
	{{ parent() }}

	<main class="container mt-3">


		<section class="container">
			<div class="row">
				<div class="col">
					<h2>{{ titlepage }}</h2>

					
					{{ form_start(form) }}

					<fieldset class="mb-3">
						<legend>Mon Compte de connexion</legend>
						{{ form_row(form.nameCompany,{'label':'Nom de l\'entreprise',}) }}

						{{ form_row(form.address, {'label':'Adresse','attr': {'placeholder':'1 av du parc'}}) }}
						{{ form_row(form.zipCode, {
										label: 'Code postal','attr': {'placeholder':'34000'}
									}) }}
						{{ form_row(form.city, {
										label: 'Ville', 'attr': {'placeholder':'Montpellier'}
									}) }}

					{# {% if app.user %}
						{{ form_row(form.user, {
										label: 'Compte utilisateur',value: '{{ app.user.email }}'
															}) }}

					{% endif %}
					#}

				</fieldset>

				<button type="submit" class="btn btn-lg btn-info my-3">Enregistrer</button>
				{{ form_end(form) }}

			</div>

		</div>
	</section>

</main>{% endblock %}

