{% extends 'base.html.twig' %}

{% block title %}Accueil |
	{{parent()}}
{% endblock %}


{% block body %}
	{{ parent() }}
<body class="compte">
	<section>
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				{% if editMode %}
				<li class="breadcrumb-item active" aria-current="page" alt="Page active" title="Page active">Modifier mon Profil</li>
				{% else %}
				<li class="breadcrumb-item active" aria-current="page" alt="Page active" title="Page active">Compléter mon Profil</li>
				{% endif %}

				<li class="breadcrumb-item">
					<a class="" href="{{ path('recruiter',{'id': recruiter.id })}}" alt="Accéder à mes annonces" title="Accéder à mes annonces">Mon espace</a>
				</li>
				<li class="breadcrumb-item">
					<a class="" href="{{ path('jobOffers')}}" alt="Accéder à mes annonces" title="Accéder à mes annonces">Mes Annonces</a>
				</li>
				<li class="breadcrumb-item">
					<a class="" href="{{ path('post')}}" alt="Poster une annonces" title="Poster une annonces">Poster une annonce</a>
				</li>

			</ol>
		</nav>
	</section>


	<main class="container mt-3">
		<div class="row">
			<div class="col ">
			{% if editMode %}
				<h2 class="center"> Modifier votre profil</h2>
			{% else %}
				<h2 class="center"> Compléter votre profil</h2>
			{% endif %}
{# <pre>
	{{ dump(recruiter.nameCompany) }}
</pre> #}
{{ form_start(recruiterForm, { 'attr': {'class': 'formProfil'} }) }}


				<fieldset class="mb-3">
					{{ form_row(recruiterForm.nameCompany,{'label':'Nom de l\'entreprise',}) }}

					{{ form_row(recruiterForm.address, {'label':'Adresse','attr': {'placeholder':'1 av du parc'}}) }}
					{{ form_row(recruiterForm.zipCode, { 'label': 'Code postal','attr': {'placeholder':'34000'}}) }}
					{{ form_row(recruiterForm.city, {'label': 'Ville', 'attr': {'placeholder':'Montpellier'}}) }}
				</fieldset>
				{% if editMode %}
					<button type="submit" class="btn btn-sm btn-info my-3 ">Modifier</button>
				{% else %}
					<button type="submit" class="btn btn-sm btn-info my-3 ">Enregistrer</button>
				{% endif %}
				{{ form_end(recruiterForm) }}
			</div>
		</div>
	</main>
</body>

{% endblock %}

