{% extends 'base.html.twig' %}

{% block title %}Contact | {{ parent() }}{% endblock %}

{% block body %}
	{{ parent() }}

<body class="contact">
    

    <main class="container">
        <h2 class="center titleCustom2 my-3">Formulaire de contact</h2>
        <section class="form legend">

            {{form_start(formContact, { 'attr': {'id': 'contact'} })}}

            <div class="form-group">
                {{ form_row(formContact.email, {'placeholder':'exemple@exemple.fr'}) }}
            </div>

            <div class="form-group">
                {{ form_row(formContact.subject, {'placeholder':'Sujet de la demande'}) }}
            </div>

            <div class="form-group">
                {{ form_row(formContact.message,{'placeholder':'Votre message...'}) }}
            </div>

            <button class="btn btnCustom my-3" type="submit">
                Envoyer</button>

            {{form_end(formContact)}}

        </section>


    </main>
</body>
{% endblock %}
