{% extends 'base.html.twig' %}

{% block title %}Annonces | {{ parent() }}
{% endblock %}

{% block body %}
		{{ parent() }}
<body class="candidacy">
	
	<main class="container center my-4">
		<h2 class="blue fs-1">{{ titlepage }}</h2>
		<section class="">
		{% if candidates %}
			<div class="d-flex justify-content-center flex-wrap container ">

			{% for candidate in candidates %}
			<div class="boxCandidacy">
				<h3 class="center">
					<strong>{{ candidate.firstname }} {{ candidate.lastname }}
					</strong>
				</h3>
				<p> est disponible pour une future collaboration.</p>
				<p>Localisation : {{candidate.city }}</p>

			{% if app.user %}
				{% if app.user.active %}
				<p>
					<a href=" {{ asset('uploads/cvs/' ~ candidate.cv ) }} " target=" _blank" class="btn btn-primary btn-sm" type="button" alt="Cliquez ici pour voir le cv" title="Cliquez ici pour voir le cv">Visualiser son CV</a>
				</p>
				{% else %}
				<div class="alert alert-success mt-4 text-center">
					<p>Votre compte n'est pas activé, merci de patienter</p>
				</div>
				{% endif %}

			{% else %}
				<div class="alert alert-info mt-4 text-center">
					<p>Vous devez être connecté pour accéder à son CV !!</p>
				</div>

			{% endif %}
			</div>
			{% endfor %}
		</div>
		{% else %}

			<div class="alert alert-info mt-4 text-center">
				<p>Aucune candidatures actuellement</p>
			</div>
		{% endif %}
		</section>
	</main>
</body>
{% endblock %}

