{% extends 'base.html.twig' %}

{% block title %}Accueil |
	{{parent()}}
{% endblock %}


{% block body %}
{{ parent() }}

<main class="container mt-3">


	<section class="container">
		<div class="row">
			<div class="col">
				<h2>{{ titlepage }}</h2>
					<p>Pour que votre annonce soit validé, veuillez indiquer dans la description les horaires de travail et le salaire.</p>

				{{ form_start(form) }}

				<fieldset class="mb-3">
					<legend>Mon Annonce</legend>
					{{ form_row(form.title,{'label':'Titre de l\'offre',}) }}

						{{ form_row(form.city, {'label':'Ville','attr': {'placeholder':'Montpellier'}}) }}

						{{ form_row(form.content, {
										label: 'Description','attr': {'placeholder':'Tapez votre texte ici...'}
									}) }}

				</fieldset>

				<button type="submit" class="btn btn-lg btn-info my-3">Enregistrer</button>
				{{ form_end(form) }}

			</div>

		</div>
	</section>

</main>{% endblock %}

