{% extends 'base.html.twig' %}

{% block title %}Candidatures | {{ parent() }}{% endblock %}

{% block body %}
	{{ parent() }}


<main class="container">
    <h2>{{ titlepage }}! </h2>

    {# {% if app.user %} #}

{# <pre>
    {{ dump(candidates) }}
</pre> #}
{# <pre>
    {{ dump(candidate) }}
</pre> #}
{# <div>
{% for candidate in candidates %}
    
{{ candidate.firstname}}

{{ candidate.lastname}}

    {{ candidate.cv}}
<p><a href="{{ asset('uploads/cvs/' ~ candidate.cv ) }} " target="_blank">Voir le CV</a></p>
{% endfor %}
</div>
{% else %}
aucun cv
    {% endif %} #}
</main>
{% endblock %}
