{% extends 'base.html.twig' %}

{% block title %}Candidats | {{ parent() }}{% endblock %}

{% block body %}
	{{ parent() }}


<main class="container">
    <h2>{{ titlepage }}! </h2>

    AVOIR LORS DU LA VALIDATION PAR EMAIL LE REDIRIGER VER PROFIL-NEW

<pre>
    {{ dump(candidates) }}
</pre>
<div>
{% for candidate in candidates %}
    
    {{ candidate.cv}}
<a href="{{ asset('uploads/cvs/' ~ candidate.cv ) }} " target="_blank">Voir le CV</a>
{% endfor %}
</div>

</main>
{% endblock %}
