{% extends 'base.html.twig' %}

{% block title %}Candidats | {{ parent() }}{% endblock %}

{% block body %}
	{{ parent() }}


<main class="container">
    <h2>{{ titlepage }}! </h2>

    {# {% if app.user %}

<pre>
    {{ dump(candidates) }}
</pre>
<div>
{% for candidate in candidates %}
    
    {{ candidate.cv}}
<a href="{{ asset('uploads/cvs/' ~ candidate.cv ) }} " target="_blank">Voir le CV</a>
{% endfor %}
</div>
{% else %}
aucun cv
    {% endif %} #}
</main>
{% endblock %}
