{% extends 'base.html.twig' %}

{% block title %}Profil |
	{{parent()}}
{% endblock %}


{% block body %}
	{{ parent() }}
<body class="compte">

	<main class="container mt-3">

{# <pre>
	{{ dump(app.user) }}
</pre> #}
		
		<div class="row">
			<div class="col">

			{% if editMode %}
				<h2 class="center my-4 txtShadow">
					Modifier votre profil</h2>
			{% else %}
				<h2 class="center my-4 txtShadow">
					Compléter votre profil</h2>
			{% endif %}

		{{ form_start(candidateForm, { 'attr': {'class': 'formProfil bg-black'} }) }}

			<fieldset class="mb-3">
				{{ form_row(candidateForm.firstname,{'label':'Nom ',}) }}

				{{ form_row(candidateForm.lastname, {'label':'Prénom'}) }}
				
				{{ form_row(candidateForm.cv,  ) }}
			</fieldset>

				<div class="text-center">
				{% if editMode %}
					<button type="submit" class="btn btn-sm btn-warning my-3  ">Modifier</button>
				{% else %}
					<button type="submit" class="btn btn-sm btn-info my-3 ">Enregistrer</button>
				{% endif %}
				</div>

		{{ form_end(candidateForm) }}
				</div>
			</div>
		</section>
	</main>
</body>


{% endblock %}

